*{ 
    margin: 0px;  
    padding: 0px;  
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive; 
    } 
    
body{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
    
    input { 
    outline: none; 
    border: none; 
    } 
    
     
    
     
    
    /*-- contenedor del Login--*/ 
    
     
    
    .container-login { 
    width: 100%;       
    min-height: 100vh; 
    display: -webkit-flex; 
    display: flex;  
    justify-content: center; 
    align-items: center; 
    padding: 15px; 
    /*background: -webkit-linear-gradient(to right, #00c3ff, #ffff1c); 
    background: linear-gradient(to right, #00c3ff, #ffff1c); */
    } 
    
     
    
    .wrap-login { 
    width: 800px; 
    background: whitesmoke;
    border-radius: 20px; 
    overflow: hidden; 
    display: flex;
    padding: 77px 55px 53px 55px; 
    -webkit-box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38); 
    
    } 

    .wrap-login_{
      width: 500px; 
    background: whitesmoke;
    border-radius: 20px; 
    overflow: hidden; 
    display: flex;
    padding: 77px 55px 53px 55px; 
    -webkit-box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38);
    }
    

    /*COLUMNAS*/
    .container_c{
        display: flex;
    }

    .c_{
      display: flex;
      justify-content: center; /* Centra horizontalmente el contenido */
      align-items: center; /* Centra verticalmente el contenido */    
    }

    .c_ol{
      text-align: center;
    }


    .column_1, .column_2, .column_3 {
        flex-basis: 33.33%; /* Ambas columnas tendrán un ancho del 50% del contenedor */
        padding: 20px; /* Opcional, añade un poco de espacio entre el contenido y los bordes de la columna */
      }
                                                     
    
    /*----Formulario de user y password----*/ 
    
     
    
    .login-form { 
    width: 100%; 
    } 
    
     
    
    .login-form-title { 
    display: block; 
    font-family: 'Baloo 2', cursive; 
    font-size: 40px; 
    color: #000000; 
    line-height: 1.5; 
    text-align: center; 
    } 
    
     
    
    .avatar{ 
    
     /*Centrar imagen*/ 
    
    display: block; 
    margin:auto; 
    width: 80px;  
    height: 80px; 
     } 
    
    /*------------------------------------------------------------------ 
    
    [ Input ]*/ 
    
     .wrap-input100 { 
    width: 100%; 
    position: relative; 
    border-bottom: 2px solid #000000; 
    margin-bottom: 37px; 
    } 
    
     
    
    .input100 { 
    font-family: 'Baloo 2', cursive; 
    font-size: 15px; 
    color: #000000; 
    line-height: 1.2; 
    display: block; 
    width: 100%; 
    height: 45px; 
    background: transparent; 
    padding: 0 5px; 
    } 
    
     
    /*---------------------------------------------*/  
    
    .focus-efecto { 
    position: absolute; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    pointer-events: none; 
    } 
    
    .focus-efecto::before { 
    content: ""; 
    display: block; 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 0; 
    height: 4px; /*ancho de la linea que hace el efecto de barra de progeso en el input al hacer foco*/ 
    -webkit-transition: all 0.4s; 
    -o-transition: all 0.4s; 
    -moz-transition: all 0.4s; 
    transition: all 0.4s; 
    background: #b8fffa; 
   
    } 
    
     
    
    .focus-efecto::after {     
    font-family: 'Baloo 2', cursive; 
    font-size: 15px;     
    color: #999999;     
    line-height: 1.2;              
    content: attr(data-placeholder);     
    display: block;     
    width: 100%;     
    position: absolute;     
    top: 16px;     
    left: 0px;     
    padding-left: 5px;              
    -webkit-transition: all 0.4s;     
    -o-transition: all 0.4s;     
    -moz-transition: all 0.4s;     
    transition: all 0.4s;     
    } 
    
     
    
    .input100:focus + .focus-efecto::after { 
    top: -15px; 
    } 

    .input100:focus + .focus-efecto::before {     
    width: 100%;     
    } 

    .has-val.input100 + .focus-efecto::after { 
    top: -15px; 
    } 

    .has-val.input100 + .focus-efecto::before { 
    width: 100%; 
    } 
    


/*BOTON DE INICIO*/
.sesion {
    font-size: 18px;
    color: #000000;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-left:275px;
  }

  
  
  .sesion:focus,
  .sesion:hover {
    color: #090909;
  }
  
  .sesion:focus:after,
  .sesion:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .sesion:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  /*Select*/
.s_ele{
    border: none;
    outline: none;
}


/*Columnas nuevas*/
.column_1_, .column_2_ {
  flex-basis: 50%; /* Ambas columnas tendrán un ancho del 50% del contenedor */
  padding: 40px; /* Opcional, añade un poco de espacio entre el contenido y los bordes de la columna */
}

.sesion_ {
  font-size: 18px;
  color: #000000;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  margin-left:100px;
}



.sesion_:focus,
.sesion_:hover {
  color: #090909;
}

.sesion_:focus:after,
.sesion_:hover:after {
  width: 100%;
  left: 0%;
}

.sesion_:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.select_f{
  margin-top: 150px;
  margin-left: 550px;
  margin-right: 550px;
  margin-bottom: -340px;
}

.btn_buscar{
position: relative;
margin-left: 430px;
margin-top: -65px;
border-radius: 10px;
width: 150px;
}

.altura-a-b{
  margin-top: 50px;
}