<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:/</title>
    <link rel="stylesheet" href="http://localhost/Proyecto-_Catedra_LIS_2023/css/estilo_403.css">
</head>
<body>
<div class="text-wrapper">
<div class="title" data-content="404">
        Error - 404
    </div>
    <div class="subtitle">
        Oops, Al parecer archivo y/o pagina no existen
    </div>

    <div class="subtitle">
        <a href="#">Regresa al Inicio</a>
    </div>

</body>
</html>